@{
    ViewBag.Title = "Calculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Simple Calculator App</h2>

<p>This is the default view of the Calculator which should hopefully not be seen.</p>