body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for calculator */
.theWholeCalculator
{
    width: 750px;
}

.calcBtns 
{
    width: 17%;
    height: 50px;
    font-size: x-large;
    margin: 1%;
}

.calcResultBtn
{
    width: 35%;
    font-size: x-large;
    margin: 15px 0 0 0
}

.calcBtnsDiv
{
    width: 45%;
    float: left; 
    background: gray;
    border-width: 10px;
    border-style: outset;
}

.calcFormationElmnts
{
    background-color: #d5d5d5;
    font-size: large;
    padding: 10px;
}




/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
